body {
  background: #111;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}
