body {
  margin: 0;
  height: 100vh;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  color: white;
}

/* Main box */
.container {
  background: rgba(30, 30, 30, 0.8);
  padding: 35px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);
  width: 320px;
}

/* Title */
h1 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 600;
}

/* File input */
input[type="file"] {
  margin: 15px 0;
  width: 100%;
  color: white;
}

/* Dropdown */
select {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: #2b2b2b;
  color: white;
  margin-bottom: 15px;
  font-size: 14px;
}


button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(135deg, #4f8cff, #6f4fff);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 18px rgba(79,140,255,0.4);
}

/* Hover effect */
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 24px rgba(79,140,255,0.6);
}

/* Click effect */
button:active {
  transform: scale(0.98);
}

/* Status text */
#status {
  margin-top: 12px;
  font-size: 14px;
  opacity: 0.8;
}
