body {
  margin: 0;
  height: 100vh;
  background: #0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  color: white;
}

.container {
  background: #151515;
  padding: 35px;
  border-radius: 20px;
  text-align: center;
  width: 500px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

h1 {
  margin-top: 0;
  font-size: 42px;
  font-weight: 700;
}

.upload-row {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}


.custom-file {
  background: #222;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #333;
}

.custom-file:hover {
  background: #2d2d2d;
}

/* hide ugly default input */
.custom-file input {
  display: none;
}

/* modern dropdown */
select {
  background: #222;
  color: white;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
}

/* modern glowing button */
button {
  background: linear-gradient(135deg,#4f8cff,#6f4fff);
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 18px rgba(79,140,255,0.4);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 24px rgba(79,140,255,0.6);
}
